body {
    margin: 0;
    padding: 0;
}

.body-wrapper {
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 680px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    /* raising the input above the background image */
    z-index: 9000;
    box-sizing: border-box;
}

.right-side {
    background-image: url(./media/pineapple_background.png);
    height: 1080px;
    /* making the right side take the rest free space. */
    flex: 1;
}



a {

    /* font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left; */


    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #131821;
}

a:hover {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #4066A5;
}

a:active {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #233759;
}

.main-field {

    margin-left: 140px;
    width: 400px;
    margin-top: 232px;
}

.header-main {
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.subheading {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    color: #6A707B;
}

.tos {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: center;

    margin-top: 53px;
    margin-bottom: 50px;
}

.emailInputWrapper {
    box-sizing: border-box;
    height: 71px;
    width: 664px;
    padding-left: 40px;
    margin-left: -41px;
    position: relative;
}

#submit {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    height: 71px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
}

#errorMessageArea {
    color: red;
}

.success-container {
    /* margin-top: 128px; */
}

.success-heading-main {
    margin-top: 26px;
}

.success-subheading {
    margin-top: 21px;
    margin-bottom: 50px;
}

.sub-heading-main {}

.sub-subheading {
    margin-top: 17px;
    margin-bottom: 50px;
}



/* #agreeToTermsOfService {
    display: none;
}

#agreeToTermsOfService+label:before {
    content: "\f14a";
}

#agreeToTermsOfService:checked+label:before {
    content: "\f0aa";
} */

@media screen and (max-width: 768px) {
    .left-side {
        width: 100%;
        height: 100vh;
        background-image: url(./media/pineapple_background.png);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-side {
        display: none;
    }

    .main-field {
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
        padding: 30px 20px;
        margin: auto;
        margin-top: 188px;
    }

    .emailInputWrapper {
        height: 60px;
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .sub-heading-main {}

    .sub-subheading {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .tos {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    #submit {
        height: 60px;
    }

    .success-subheading {
        margin-top: 10px;
        margin-bottom: 39px;
    }

    .success-heading-main {
        margin-top: 39px;
    }

    .header-main {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #131821;
    }
}